@import "./../../styles/variables";

.itembtn{
    background:linear-gradient(100deg, rgba(#6038C0, .8) 55%, rgba(#110521, .1)100%);
    border-radius: 18px;
    border-color: azure;
    width: 9rem;
    height: 3rem;
    font-size: large;
    font-family: "Mukta", sans-serif;
    font-weight: bold;
    color: aliceblue;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.itembtn:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.itensnome{
    font-family: "Mukta", sans-serif;
    color: white;
    font-size: 15px;
}
.popup-close{
    color: white;
}
.drawer {
        padding-top: 30px;
        background: linear-gradient(90deg, $color-primary 0%, $color-secondary 99.99%, $color-secondary 100%);
    }

.title{
    font-family: "Mukta", sans-serif;
    color:azure;
    padding: 10px;
}
.arrow{
    background:linear-gradient(100deg, rgba(#6038C0, .8) 55%, rgba(#110521, .1)100%);
}

.styledtext{
    color:#6038C0;
    font-size: medium;
}

.lampadasTitle{
    padding: 30px;
    font-family: "Mukta", sans-serif;
    color:azure;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.drawerimg{
    background-color: linear-gradient(90deg, $color-primary 0%, $color-secondary 99.99%, $color-secondary 100%);
    border-radius: 20px;
    padding-top: 30px;
}

.chart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgheader{
    font-family: "Mukta", sans-serif;
    color:azure;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-bottom: 0px;
}


.timeIcon{
    background:linear-gradient(100deg, rgba(#6038C0, .8) 55%, rgba(#110521, .1)100%);
    border-color: azure;
    font-family: "Mukta", sans-serif;
    font-weight: bold;
    border-radius: 100%;
    color: aliceblue;
    cursor: pointer;
}

.timeIcon:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.timeIcon:not(:hover){
    transform: scale(1);
    transition: 0.5s;
}