
.btnIncluir{
    width: 10m;
    height: 3em;
    background: radial-gradient(circle, rgba(96,56,192,1) 0%, rgba(96,34,245,1) 100%) !important;
    color: #fff !important;
    font-size: 20px !important;
  
    align-items: center !important;
    justify-content: center !important;
    display: flex;
}

.inconForm{
    width: 70px;
    height: 70px;
    background: radial-gradient(circle, rgba(96,56,192,1) 0%, rgba(96,34,245,1) 100%) !important;
    border-radius: 20px;
    display: flex;
}
.MuiFormControl-root{
    font-size: 30px;
    border-radius: 10px;
    background-color: #fff !important;
    border: none;
}

.teste{
    font-size: 20px !important;
    text-align: center;
}
.teste:hover{
    color: blueviolet !important;
}
.css-ruq4u7-MuiFormLabel-root-MuiInputLabel-root{
    color:black !important;
}

.css-ig0lvf-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    color: black !important;
}